@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-black {
  @apply bg-stone-600 text-white;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*!HIGHLIGHT CLASSES - MEDIA QUERIES*/
.highlight {
  height: 420px;
}

@media (max-width: 720px) {
  .highlight {
    @apply h-64;
  }
}
/*! END HIGHLIGHT */

.loginPage {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}